@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --color-pale-blue: hsl(233, 47%, 7%);
    --color-bright-blue: hsl(244, 38%, 16%);
    --color-very-pale-blue: hsl(277, 64%, 61%);

    --color-desaturated-blue: hsl(0, 0%, 100%);
    --color-dark-blue: hsla(0, 0%, 100%, 0.75);

    --font-base: 'Red Hat Display', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background-body);
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1445px;
    min-height: 97vh;
    padding: 0;
}
